.memory-game-container img {
  width: 170px;
  height: 170px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.349);
  border-radius: 2%;
  cursor: pointer;
  transition: 0.5s;
}

.memory-game-container img:hover {
  transform: scale(1.1);
}

.memory-game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(210, 105, 30, 0.096);
  margin: 8px;
}

.score-state {
  font-size: 24px;
}
